// font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@font-face {
    font-family: ApexLegends;
    src: url(../font/AgencyFBBold.ttf);
}



// style
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: ApexLegends;
    background-color: #dddace;
    margin: 0;
    overflow-x: hidden;
}

// navbar
.custom-nav {
    background-color: black;
    transition: 0.6s;
    .navbar-brand {
        img {
            width: 73px;
            height: 47px;
            transition: 0.5s;
        }
    }

    #navbarNav {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    margin-right: 2em;
                    text-transform: uppercase;
                    font-size: 20px;
                    color: white;
                    transition: .3s color ease;

                    &:hover {
                        color: red;
                    }
                }

                .button-sign-up {
                    display: inline-block;
                    margin-right: 0;
                    padding: 0.25em 1.5em;
                    color: white;
                    background-color: red;
                    border: 1px solid red;
                    margin-top: 3px;
                    transition: .3s ease;

                    &:hover {
                        color: red;
                        background-color: transparent;
                        border: 1px solid red;
                    }
                }
            }
        }
    }
}
@media (min-width: 992px) {
.sticky {
    .navbar-brand {
        img {
            width: 58px;
            height: 37px;
            transition: 0.5s;
        }
    }
    padding: 5px;
    transition: 0.5s;
}
}


// jumbotron
.jumbotron {
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 720px;
    text-align: left;
    margin-top: 3em;
    position: relative;

    @media (max-width: 992px) {
        background-size: cover;
        background-position: center;
        height: 640px;
    }
    
    .container {
        margin-top: 10em;
        img {
            width: 233;
            height: 150px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1em;
        }

        .display-4 {
            color: white;
            
        }

        p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            color: white;
            text-align: center;
        }

        .button-jumbotron {
            display: flex;
            padding: 0.7em 1.5em;
            color: white;
            background-color: none;
            border: 1px solid white;
            border-radius: 5px;
            font-family: 'Montserrat', sans-serif;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 16px;
            transition: 0.2s ease;
            text-align: center;
            justify-content: center;
            

            &:hover {
                transform: scale(1.1);
                // border: 1px solid red;
                // color: red;
                // background-color: black;
            }
            @media screen and (max-width: 992px) {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                font-size: 14px;
            }
        }
    }
}

// char legends
.legends {
    background-color: #dddace;
    margin-top: -2em;
    .tengah {
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    h2 {
        color: black;
        text-align: center;
    }

    p{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 16px;
    }
    .logo {
        display: flex;
        width: 100px;
        height: 100px;
        margin: 10px auto
        
    }
}

.container-char {
    width: 87%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    // justify-content: left;

    .thumbnail {
        width: 25%;
        margin-bottom: 4em;

        
        img {
            width: 100%;
        }
        
        h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 700;
            margin-top: 2em;
        }
        
        p {
            text-align: center;
            font-weight: 500;
            font-size: 16px;
        }
        
        .icon {
            display: flex;
            justify-content: center;
            width: 35px;
            height: 35px;
            margin: 50px auto;
            transition: .1s ease-out;
            
            &:hover {
                transform: scale(1.2);
                
            }
        }
        
    }
    
    @media screen and (max-width: 992px) {
        .thumbnail {
            width: 50%;

            h2 {
                font-size: 16px;
            }

            p {
                font-size: 12px;
            }
        }

    }
    @media screen and (max-width: 576px) {
        .thumbnail {
            width: 100%;

            h2 {
                font-size: 18px;
            }

            p {
                font-size: 14px;
            }

            .icon {
                width: 40x;
                height: 40px;
            }
            
        }
    }
}


// news
.container-news {
    background-image: url(../img/bg-news.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 850px;

    h2 {
        padding-top: 2em;
        text-align: center;
        text-transform: uppercase;
        font-size: 42px;
    }

    .last-news {
        display: flex;
        width: 73%;
        justify-content: space-around;
        margin: 50px auto;
        height: 550px;
        flex-wrap: wrap;
        
        .card {
            width: 350px;
            background-color: rgb(20, 20, 20);
            border: 0;
            border-radius: 0;
            border-bottom: 8px solid rgb(218, 0, 0);
            text-decoration: none;
            cursor: pointer;

            .card-date {
                margin-top: 25px;
                span {
                    text-transform: uppercase;
                    color: rgb(206, 0, 0);
                }

                text-transform: uppercase;
                color: white;
            }

            .card-tittle {
                color: white;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 20px;
            }
            
            .card-text {
                color: white;
                font-family: 'Montserrat', sans-serif;
                margin-top: 10px;
            }

            img {
                border-radius: 0;
            }
            
        }

    }
    @media (max-width: 992px) {
        .container-news {
            height: 900px;
        }
    }

    @media (max-width: 672px) { 
        height: 150vh;
    }
    @media (max-width: 662px) { 
        height: 160vh;
    }
    @media (max-width: 576px) { 
        height: 250vh;
    }
    
}

// about
.container-about {
    margin: 50px auto;
    text-align: center;
    color: white;
    position: absolute;

    h2 {
        font-size: 38px;
        margin-bottom: 25px;
    }

    .tittle {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 18px;
        width: 60%;
        margin: auto;
    }
    

    
    .card-about {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        // gap: 20px;
        margin: auto;
        width: 70%;
        
        .container-card {
            padding: 15px;
            text-align: center;
            
        }
        
        img {
            width: 100%;
        }

        .sub-tittle {
            padding: 15px;
        }

        .text {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
        }
    }

    @media (max-width: 576px) {
        h2 {
            font-size: 28px;
        }

        .tittle {
            font-size: 14px;
        }
    }
}